[submodule "bower-js-stellar-sdk"]
	path = bower-js-stellar-sdk
	url = https://github.com/stellar/bower-js-stellar-sdk
[submodule "src"]
	path = src
	url = https://github.com/MisterTicot/stellar-authenticator-src
