/* cosmiclib styling */

.cosmiclib_asset .cosmiclib_assetCode,
.cosmiclib_address
{
    display: inline-block;
    margin: 0.1em;
    border: 1px solid lightgrey;
    background-color: #F1F1F1;
    border-radius: 0.2em;
    padding: 0.1em;
    color: #4C4C4C;
}

.cosmiclib_asset .cosmiclib_assetCode:hover,
.cosmiclib_address:hover
{
    cursor: pointer;
    background-color: lightgrey;
}

.cosmiclib_asset
{
    background-color: ghostwhite;
    border-left: 0;
    border-right: 0;
}

.cosmiclib_hash:hover,
.cosmiclib_id:hover
{
    background-color: ghostwhite;
    cursor: pointer;
}

.cosmiclib_done,
.cosmiclib_signed
{
    border: 0.1em solid mediumseagreen;
    border-radius: 0.2em;
    background-color: lightgreen;
    padding: 0.1em;
    color: black;
}

.cosmiclib_error, .cosmiclib_errors li
{
    border: 0.1em solid tomato;
    border-radius: 0.2em;
    background-color: salmon;
    padding: 0.1em;
    color: black;
}

/*** Transaction node styling ***/

.cosmiclib_transactionNode
{
    margin: 0.5em 0;
}

.cosmiclib_sideInfo
{
    border-left: 0.2em solid lightgrey;
    padding-left: 0.3em;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
}

.cosmiclib_sideInfo li
{
    padding: 0.1em;
}

.cosmiclib_operation
{
    padding: 0.5em;
}

.cosmiclib_sourcedOperation
{
    margin-left: 1em;
/*
    border-left: 0.2em solid lightgrey;
*/
    background-color: ghostwhite;

}



/*** Status/Signers node styling ***/

.cosmiclib_statusNode,
.cosmiclib_signersNode
{
    margin: 0.5em;
    padding: 0;
}

.cosmiclib_status,
.cosmiclib_threshold
{
    margin: 0;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
    font-stretch: condensed;
}

.cosmiclib_statusNode
{
    background-color: white;
    border: none;
}

.cosmiclib_errors,
.cosmiclib_signers
{
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.9 em;
    padding: 0;
    margin: 0;
}

.cosmiclib_errors li,
.cosmiclib_signers li
{
    margin:0 ;
    border-width: 0;
    padding-left: 0.2em;
    border-radius: 0;
}

.cosmiclib_signers li.cosmiclib_signed
{
    border-left: 0.3em solid mediumseagreen;

}

.cosmiclib_errors li
{
    border-left: 0.3em solid tomato;
}

/* Loading animation */

.cosmiclib_loadingAnim {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin: 0 0.2em;
    border: 0.2em solid rgba(105,105,105,1);
    border-top-color: rgba(105,105,105,0.4);
    border-bottom-color: rgba(105,105,105,0.4);
    border-radius: 50%;
    -webkit-animation: cosmiclib_spin 1s linear infinite;
            animation: cosmiclib_spin 1s linear infinite;
}

@-webkit-keyframes cosmiclib_spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes cosmiclib_spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
