/* cosmiclib styling */
.cosmiclib_clickable {
  display: inline-block;
  border-top: 0.1em solid transparent;
  border-bottom: 0.1em solid #F0F0F0;
  padding: 0 0.1em;
  transition: all 0.2s ease; }

.cosmiclib_clickable:hover {
  cursor: pointer;
  border-top: 0.1em solid whitesmoke;
  background-color: whitesmoke; }

.cosmiclib_tilde {
  color: lightgrey; }

.cosmiclib_done,
.cosmiclib_signed {
  border: 0.1em solid mediumseagreen;
  border-radius: 0.2em;
  background-color: lightgreen;
  padding: 0.1em;
  color: black; }

.cosmiclib_error, .cosmiclib_errors li {
  border: 0.1em solid tomato;
  border-radius: 0.2em;
  background-color: salmon;
  padding: 0.1em;
  color: black; }

/*** Transaction node styling ***/
.cosmiclib_transactionNode {
  margin: 0.5em 0; }

.cosmiclib_sideInfo {
  border-left: 0.1em solid lightgrey;
  padding-left: 0.3em;
  margin: 0;
  list-style-type: none;
  list-style-position: inside; }

.cosmiclib_sideInfo li {
  padding: 0.1em; }

.cosmiclib_operation {
  padding: 0.5em; }

.cosmiclib_sourcedOperation {
  margin-left: 1em;
  background-color: ghostwhite; }

/*** Status/Signers node styling ***/
.cosmiclib_statusNode,
.cosmiclib_signersNode {
  margin: 0.5em;
  padding: 0; }

.cosmiclib_status,
.cosmiclib_threshold {
  margin: 0;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
  font-stretch: condensed; }

.cosmiclib_statusNode {
  background-color: white;
  border: none; }

.cosmiclib_errors,
.cosmiclib_signers {
  list-style-type: none;
  list-style-position: inside;
  font-size: 0.9 em;
  padding: 0;
  margin: 0; }

.cosmiclib_errors li,
.cosmiclib_signers li {
  margin: 0;
  border-width: 0;
  padding-left: 0.2em;
  border-radius: 0; }

.cosmiclib_errors li.cosmiclib_signed,
.cosmiclib_signers li.cosmiclib_signed {
  border-left: 0.3em solid mediumseagreen; }

.cosmiclib_errors li {
  border-left: 0.3em solid tomato; }

/* Loading animation */
.cosmiclib_loadingAnim,
.cosmiclib_loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.1em;
  vertical-align: middle;
  border-radius: 100%;
  background-color: grey;
  animation: animate 1.0s infinite ease-in-out; }

@keyframes animate {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }
